* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
}

.orange {
  position: absolute;
  top: -10vh;
  right: 0vh;
  z-index: -1;
  width: 55vw;
  height: 150vh;
}

header {
  nav {
    width: 100%;
    ol {
      display: flex;
      width: 70%;
      justify-content: space-around;
      padding: 2rem;

      li {
        list-style: none;
        font-size: 1.75rem;
        a {
          display: inline-block;
          padding: 1rem;
          text-decoration: none;
          color: black;
        }
        a.active {
          color: #e08958;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  section.left {
    padding: 2rem;
    flex: 3 1 500px;
    h1 {
      font-size: 4rem;
      color: #e08958;
    }
    p {
      font-size: 1.5rem;
      padding: 1rem 0rem;
    }
  }
  section.right {
    flex: 1 1 600px;
    margin: 1rem;
    position: relative;
    img {
      width: 20vw;
      height: 20vw;
      border-radius: 50%;
      position: absolute;
      top: 30vh;
      right: 28vw;
    }
  }

  // resume.html
  section.table {
    flex: 3 1 500px;
    padding: 2rem;
    table {
      border-collapse: collapse;
      tr {
        border-bottom: 2px solid gray;
        transition: all 0.2s ease;
        td {
          padding: 1rem;
        }
        &:hover {
          background-color: #ffd2b8;
        }
      }
    }
  }
  section.picture {
    flex: 1 1 600px;
    position: relative;
    img {
      width: 30vw;
    }
    div.orangeRect {
      width: 30vw;
      height: 90vh;
      background-color: #e08958;
      position: absolute;
      top: 30px;
      left: 80px;
      z-index: -1;
    }
  }

  // contact.html
  section.form {
    flex: 1 1 600px;
    form {
      min-height: 70vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 1.5rem;
      div {
        margin: 0.5rem;
        label {
          font-size: 1.5rem;
          margin-right: 1rem;
        }
        input,
        textarea {
          background-color: #ffd0b5;
          color: white;
          font-size: 1.25rem;
          padding: 0.5rem 0.25rem;
          border: none;
          width: 80%;
        }
        textarea {
          vertical-align: top;
        }
      }
      button {
        align-self: center;
        background-color: #e08958;
        color: white;
        border: none;
        cursor: pointer;
        padding: 0.75rem 1.5rem;
        font-size: 2rem;
        border-radius: 10px;
      }
    }
  }
  div.line {
    background-color: gray;
    width: 3px;
  }
  section.contact {
    flex: 1 1 500px;
    display: flex;
    align-items: center;
    padding: 2rem;

    div.content {
      h2 {
        margin: 1rem 0rem;
      }
    }
  }
}

footer {
  a {
    padding: 1rem;
  }
}

@media screen and (max-width: 1100px) {
  .orange {
    opacity: 0.5;
  }
  header {
    nav {
      ol {
        flex-direction: column;
        width: 100%;
        li {
          padding: 1rem 0rem;
          border-bottom: 2px solid gray;
        }
      }
    }
  }
  main {
    section.right {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 50vw;
        height: 50vh;
        transform: none;
        position: static;
      }
    }
    section.picture {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 40vw;
      }
      div.orangeRect {
        display: none;
      }
    }
  }
}
