* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header div.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.header__left img {
  width: 6vw;
  height: 6vw;
  padding: 1rem;
}

header div.header__left p {
  display: inline-block;
  padding: 1rem;
  font-size: 1.5rem;
}

header div.header__right {
  padding-right: 1rem;
}

header div.header__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header div.header__right ul li {
  list-style: none;
  padding: 1.5rem;
}

header div.header__right ul li a {
  text-decoration: none;
  color: #09777d;
  font-size: 1.5rem;
}

main div.main__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25))), url("../Pictures/pexels-photo-416676.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.25)), url("../Pictures/pexels-photo-416676.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 650px;
}

main div.main__background div.main__description {
  width: 45rem;
}

main div.main__background div.main__description p {
  font-size: 3rem;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

main div.main__background div.main__button {
  background-color: #36eaea;
  margin-top: 2rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
}

main div.main__background div.main__button a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

main div.service {
  width: 100%;
}

main div.service div.service__title {
  padding: 2.5rem;
}

main div.service div.service__title p {
  font-size: 2rem;
  text-align: center;
}

main div.service div.service__title p.service__title__changeColor {
  color: #259999;
}

main div.service div.service__desc__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main div.service div.service__desc__total div.service__desc {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div.service div.service__desc__total div.service__desc img {
  border-radius: 22rem;
  width: 50%;
}

main div.service div.service__desc__total div.service__desc h3 {
  font-size: 1.5rem;
  padding: 1.2rem;
}

main div.service div.service__desc__total div.service__desc div {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  background-color: #259999;
  padding: 0.5rem 1rem;
}

main div.service div.service__desc__total div.service__desc div a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f1f1;
}

footer div.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
  padding-top: 2rem;
}

footer div.footer__logo img {
  width: 15%;
}

footer div.footer__logo p {
  font-size: 1.5rem;
  padding-top: 2rem;
}

footer div.footer__info a {
  display: inline-block;
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
}

footer div.footer__link {
  padding-bottom: 2rem;
}

footer div.footer__link a {
  display: inline-block;
  padding: 1rem;
}

footer div.footer__link a img {
  width: 60%;
}
/*# sourceMappingURL=style.css.map */