* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  div.header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 6vw;
      height: 6vw;
      padding: 1rem;
    }
    p {
      display: inline-block;
      padding: 1rem;
      font-size: 1.5rem;
    }
  }
  div.header__right {
    padding-right: 1rem;
    ul {
      display: flex;
      flex-direction: row;
      li {
        list-style: none;
        padding: 1.5rem;

        a {
          display: inline-block;
          text-decoration: none;
          color: #09777d;
          font-size: 1.5rem;
        }
      }
    }
  }
}

main {
  div.main__background {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25)),
      url("../Pictures/pexels-photo-416676.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;

    div.main__description {
      width: 45rem;
      p {
        font-size: 3rem;
        color: white;
        text-align: center;
        padding: 0.5rem;
      }
    }
    div.main__button {
      background-color: rgb(54, 234, 234);
      margin-top: 2rem;
      padding: 1rem 3rem;
      border-radius: 1rem;
      a {
        text-decoration: none;
        font-size: 2rem;
        color: white;
      }
    }
  }

  div.service {
    width: 100%;

    div.service__title {
      padding: 2.5rem;
      p {
        font-size: 2rem;
        text-align: center;
      }
      p.service__title__changeColor {
        color: rgb(37, 153, 153);
      }
    }
    div.service__desc__total {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      div.service__desc {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          margin: 0.5rem 0rem;
          border-radius: 22rem;
          width: 75%;
        }
        h3 {
          margin: 0.5rem 0rem;

          font-size: 1.5rem;
          padding: 1.2rem;
        }
        p {
          margin: 0.5rem 0rem;

          text-align: center;
        }
        div {
          margin: 0.5rem 0rem;
          margin-top: 1.5rem;
          margin-bottom: 3rem;
          background-color: rgb(37, 153, 153);
          padding: 0.5rem 1rem;
          a {
            text-decoration: none;
            color: white;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(244, 241, 241);
  div.footer__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    padding-top: 2rem;
    img {
      width: 15%;
    }
    p {
      font-size: 1.5rem;
      padding-top: 2rem;
    }
  }
  div.footer__info {
    a {
      display: inline-block;
      font-size: 1.5rem;
      padding: 1rem;
      text-decoration: none;
      color: black;
    }
  }
  div.footer__link {
    padding-bottom: 2rem;
    a {
      display: inline-block;
      padding: 1rem;
      img {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 875px) {
  header {
    div.header__left {
      img {
        width: 15vw;
        height: 15vw;
      }
    }
    div.header__right {
      width: 100%;
      ul {
        justify-content: space-around;
        li {
          padding: 1rem;
        }
      }
    }
  }
  main {
    div.main__background {
      div.main__description {
        width: 30rem;
        p {
          font-size: 2rem;
        }
      }
      div.main__button {
        a {
          font-size: 1.5rem;
        }
      }
    }
    div.service {
      div.service__desc__total {
        div.service__desc {
          min-width: 80%;
          img {
            width: 50%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  header {
    div.header__right {
      ul {
        li {
          padding: 0rem;
        }
      }
    }
  }
}
