.red {
  background-color: red;
}

.bleu {
  background-color: blue;
}
.bold {
  font-weight: bolder;
}

.a {
  width: 300px;
  height: 300px;
  background-color: red;
}

div.b {
  width: 100px;
  height: 100px;
  background-color: blue;
}
